.App-Div {
    
    display: flex;
    width: auto;
    flex-Direction:center;
    justify-Content: center;
    align-items: center;
     
  }
  

h1{
   color: #5658CA;
  
    text-align: center;
}


